<!DOCTYPE html>
<html>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<div ng-app="myApp" ng-controller="myCtrl">
<button ng-click="myFunction()">Click me!</button>

<table style="border:1px solid">
 <tr ng-repeat="x in names">
   <td>{{ x.firstName }}<td>
   <td>{{ x.lastName }}</td>
 </tr>
</table>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
$scope.myFunction = function(val){

	  $http.get("http://localhost:8000/test/json.php")
	  .then(function(response) {
		  $scope.names = response.data.records;
		});
	}
});
</script>

</body>
</html>
